:host {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  max-width: 1200px;
  align-items: flex-start;
}

.canvases {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 1rem;
}

.canvas {
  border: 1px solid #ccc;
  cursor: var(--cursor, default);
}

.form {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-gap: 1rem;
  align-items: center;
  position: sticky;
  top: 1rem;

  .row {
    display: contents;

    &.header {
      grid-column: span 3;
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      grid-gap: 3rem;
    }

    + .header {
      margin-top: 1rem;
    }
  }

  .input {
    width: auto;

    &[type="checkbox"] {
      width: 1rem;
      height: 1rem;
    }
  }

  button + button {
    margin-left: 0.6rem;
  }
}

@media (max-width: 1200px) {
  :host {
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .form {
    min-width: 600px;
    position: initial;
    top: inherit;
  }
}
